.item-container {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 350px;
    margin: 12px;
    color: black !important;
    border:darkgray solid 0.5px;
    transition: all 0.3s ease 0s;
}

.item-container:hover {
    transform: scale(1.015); 
}

.item-image {
    width: 85%;
    height: 56%;
    border-bottom: darkgray solid 0.5px;
}

.item-title {
    font-size: 19px;
    margin-bottom: 8px;
}

.item-precio {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 8px;
}