.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0 0px 0;
    width: 180px;
}

.control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-bottom: 25px;
    color: black;
}

.circle-control-button {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    transition: all 0.3s ease 0s;   
}

.circle-control-button:hover {
    background-color: darkgray;
}

.centrar-toast {
    text-align: center;
    color: black;
}